torch==1.11.0+cu113
torchvision==0.12.0+cu113
numpy
tqdm
tensorboard
matplotlib
scikit-learn
librosa

seaborn
pandas
torchaudio===0.11.0+cu113
torch_audiomentations
editdistance
wandb



--find-links https://download.pytorch.org/whl/cu113/torch_stable.html