torch==2.0.0+cu117
torchvision==0.14.1
torchaudio===2.0.1+cu117

numpy
pandas
scikit-learn
tqdm
torchmetrics
matplotlib
seaborn

librosa
wandb

--find-links https://download.pytorch.org/whl/cu117/torch_stable.html
